button{
 size: 30px;
 padding: 30px;
 border-radius: 40px;
 background-image: linear-gradient(white, grey);
 color: white;
 text-transform: capitalize;
 font-family: sans-serif;
 font-weight: bold;
}